<h4>Import Internet and Mobile Data</h4>
<%=  form_tag import_internet_mobile_users_statistics_path, multipart: true do %>
  <!-- <span class="btn btn-file" > -->
    Upload File
    <%= file_field_tag :file %></br>
  <!-- </span> -->
  <%= text_field_tag :data_source, placeholder: "Enter source of your data here" %>
  <%= submit_tag "Import", class: 'btn blue' %>
<% end %>

<h3>Internet and Mobile User Trends</h3>
<div class="row">
  <div class="col s6">
    <div class="graph">
      <span id="mobile">
        <%= mobile_users %>
      </span>
    </div>
    <input type="button" id="svMobile" value= "Save as Image" />

    <a href="statistics/import_internet_mobile_users.csv"><%= image_tag "ic_get_app_black_24px" %></a>
  </div>
  <div class="col s6">
    <div class="graph">
      <span id="internet">
        <%= internet_users %>
      </span>
    </div>
    <input type="button" id="svInternet" value="Save as Image"/>
    <a href="statistics/import_internet_mobile_users.csv"><%= image_tag "ic_get_app_black_24px" %></a>
  </div>
</div>

<!-- <%= sporters_by_age %>
<%= sporters_by_country %>
<%= results_by_country %>
<%= competitions_by_year %> -->
