<!DOCTYPE html>
<html>
  <head>
    <title>D4A Data Analytics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'html2canvas' %>
  </head>
    <nav>
     <div class="nav-wrapper">
       <a href="/" class="brand-logo">Data Analytics</a>
        </div>
   </nav>
  <body>
    <%= yield %>
  </body>
  <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</html>
